<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="vendor/autoload.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="true"
		 strict="true">
	<testsuites>
		<testsuite name="RemoteObjectsTestSuite">
			<directory suffix="Test.php">test/RemoteObjectsTestSuite/Test/</directory>
		</testsuite>
	</testsuites>
</phpunit>